doctype html
html(lang="en")
  head
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/static/css/main.css')
    title EireDance
  body
    parent.div
      img.child.img#turnoutBtn(src="https://i.imgur.com/1AVjxmk.png" alt="Turnout Icon")
      img.child.img#mobilityBtn(src="https://i.imgur.com/43P4DjX.png" alt="Mobility Icon")
      img.child.img#postureBtn(src="https://i.imgur.com/IxJicju.png" alt="Posture Icon")
      img.child.img#createBtn(src="https://i.imgur.com/JWxCf6M.png" alt="Create Icon")

    script(src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous")
