doctype html
html(lang="en")
  head
    title EireDance
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/static/css/main.css')
  turnout.body

    header
      h2 Turnout Conditioning Session

    div
    section#content

      if name
        table
          tr
            th
            th Duration
            th Status
          tr
              td #{name}
              td #{duration}
              if isdone
                td complete
              else
                td incomplete
