
doctype html
html(lang="en")
  head
    title EireDance
  body

    header
      h2 hi

    section#content

      h2 Create
      form(action='/turnout', method="post")
        label Exercise Name
          input(type='text', name='name')
        label Duration (in seconds)
          input(type='number', name='time')
        button(type='submit') Submit

      if name
        table
          tr
            th
            th Duration
            th Status
          tr
              td #{name}
              td #{time} seconds
              if isdone
                td complete
              else
                td incomplete
