
doctype html
html(lang="en")
  head

    title EireDance
  body
    header
      h2 #{name}
    section#content
      h3 Duration of #{duration}

      if isdone
        p Complete
      else
        p Incomplete

      button(type="button") Next

      h2 Create

      form(action='/turnout', method="post")
        label Exercise Name
          input(type='text', name='name')
        label Duration (in seconds)
            input(type='number', name='name')
        button(type='submit') Submit
