/**** ELEMENTS ****/

body {
  margin: 3% 28%;
  background-color: #456789;
}

.parent {
  display: flex;
  flex-wrap: wrap;
}

.child {
  flex: 1 0 35%;
  margin: 5px;
  height: 20vw;
  background-color: #012345;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #456789;
  font-size: 2em;
}

.child:hover {
  background-color: #456789;
  color: #012345;
}



li:nth-child(odd) {
  background: #234567;
  color: #C1C7C9;

}
li:nth-child(even) {
  background: #456789;
  color: #C1C7C9;
}

.list-group-item {
    border: none;
    color: white;
}

#form-container {
    margin-top: 3%;
    background-color: #456789;
}

.form-control {
    background-color: #f2f3f4;
}

/**** HEADINGS ****/

.header {
  text-align: center;
}

h1 {
  color: #012345;
  font-size: 2.10em;
  font-weight: bold;
  letter-spacing: .2em;
}

h2 {
  color: #012345;
  margin-bottom: 5%;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: .2em;
}

/**** BUTTONS ****/

button {
  border: none;
}


.btn-primary {
    color: #fff;
    background-color: #012345;
    margin: 5% 0;
    width: 100%;
}


.btn-link {
  color: #012345;
  font-weight: bold;
}

.btn-link:hover {
  color: #012345;
  font-weight: bold;
}

.btn-success {
    color: #fff;
    background-color: #012345;
    border-color: #456789;
}

.btn-success:hover {
    color: #fff;
    border-color: #456789;
    background-color: #456789;
}

/** MISC **/

a {
    color: #8c979a;
    text-decoration: none;
    font-weight: bold;
}

img {
/*  height: 60%; */
  height: 200px;
  width: auto;
}

@media (max-width: 650px) {

  img {
        height: 60%;
        width: auto;
  }

@media (max-width: 400px) {

    img {
          height: 50px;
          width: auto;
    }
